/* Reset Styles */

* {
    box-sizing: border-box;
    font-family: "Vollkorn", serif;
    list-style-type: none;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%; /* 1 rem = 10 px */
}

/* Common Styles */

:root {
    --primary-color: #2b81e4;
    --secondary-color: #eee;
    --white-color: #fff;
    --gray-color: #555;
    --light-gray-color: #777;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Container */

.container {
    background-color: var(--secondary-color);
    box-shadow: 0 1rem 3rem var(--gray-color);
    overflow: hidden;
    margin: 3.5rem;
}

/* Header */

.header {
    background: linear-gradient(rgba(18,113,255,.5), rgba(18,113,255,.3)), url(img/header-bg.jpg) center no-repeat;
    background-size: cover;
    height: calc(100vh - 7rem);
    perspective: 100rem;
    position: relative;
    width: 100%;
}

.header-text {
    letter-spacing: .1rem;
    text-align: center;
    text-shadow: 0 .3rem .5rem var(--gray-color);
    text-transform: uppercase;
}

.heading {
    color: var(--white-color);
    font-size: 8rem;
}

.header-paragraph {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 500;
    margin: auto;
    max-width: 70rem;
}

.logo {
    position: absolute;
    right: 4rem;
    top: 4rem;
}

.logo h2 {
    display: flex;
}

.logo h2 span {
    background-color: var(--white-color);
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 900;
    height: 3.5rem;
    margin: .5rem;
    text-transform: uppercase;
    width: 3.5rem;
}

.logo h2 span:nth-child(1) {
    animation: drop-letters 5s .1s infinite;
}
.logo h2 span:nth-child(2) {
    animation: drop-letters 5s .2s infinite;
}
.logo h2 span:nth-child(3) {
    animation: drop-letters 5s .3s infinite;
}
.logo h2 span:nth-child(4) {
    animation: drop-letters 5s .4s infinite;
}
.logo h2 span:nth-child(5) {
    animation: drop-letters 5s .5s infinite;
}
.logo h2 span:nth-child(6) {
    animation: drop-letters 5s .6s infinite;
}
.logo h2 span:nth-child(7) {
    animation: drop-letters 5s .7s infinite;
}

@keyframes drop-letters {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-100%);
    }
    20% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.header-image {
    animation: image-float 150s infinite;
    width: 35%;
}

@keyframes image-float {
    0% {
        transform: translateZ(40rem);
        opacity: 1;
    }
    40% {
        transform: translateZ(-500rem) translateX(150rem);
        opacity: .8;
    }
    70% {
        transform: translateZ(-1500rem) translateX(800rem);
        opacity: .6;
    }
    80% {
        transform: translateZ(-50rem) translateX(100rem);
        opacity: .8;
    }
    100% {
        transform: translateZ(40rem);
        opacity: 1;
    }
}

/* Section 1 Popular Tours */

.popular-tours {
    padding: 5rem 0 10rem 0;
}

.popular-tours-heading {
    color: var(--primary-color);
    font-size: 8rem;
    margin-bottom: 8rem;
    text-align: center;
    text-shadow: 0 .1rem .2rem var(--primary-color);
}

.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.card {
    perspective: 150rem;
    position: relative;
    width: 35rem;
}

.card-img {
    border-radius: .3rem .3rem 0 0;
    width: 100%;
}

.front-side {
    background-color: var(--white-color);
    border-radius: .3rem;
    opacity: .9;
    position: relative;
    text-align: center;
    transition: opacity .4s, transform .4s, box-shadow .4s;
    z-index: 10;
}

.change > .front-side {
    box-shadow: 0 2rem 4rem #777;
    opacity: .5;
    transform: translateZ(-5rem) translateX(3rem);
    z-index: 0;
}

.tour-name {
    color: var(--white-color);
    font-size: 2.5rem;
    font-weight: 700;
    position: absolute;
    right: 1.5rem;
    text-shadow: 0 0 1rem #000;
    text-transform: uppercase;
    top: 30%;
}

.card-list {
    margin: auto;
    padding: 2rem 0 3rem 0;
    width: 80%;
}

.card-list-item {
    border-bottom: .1rem solid var(--primary-color);
    color: var(--light-gray-color);
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0;
    padding-bottom: 1.5rem;
}

.back-side {
    background-color: var(--primary-color);
    border-radius: .3rem;
    box-shadow: 0 2rem 4rem #777;
    flex-direction: column;
    height: 100%;
    opacity: .5;
    position: absolute;
    top: 0;
    transform: translateZ(-5rem) translateX(3rem);
    transition: opacity .4s, transform .4s, box-shadow .4s;
    width: 100%;
}

.change > .back-side {
    box-shadow: 0 .5rem 2rem #aaa;
    opacity: .9;
    transform: translateZ(0) translateX(0);
}

.tour-price {
    color: var(--white-color);
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.card-button {
    background-color: var(--white-color);
    border: none;
    border-radius: 5rem;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    padding: 1rem 2rem;
}

.navigation-button {
    background-color: rgba(255,255,255,.8);
    border: none;
    border-radius: .3rem;
    color: var(--light-gray-color);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    left: .5rem;
    letter-spacing: .2rem;
    padding: .5rem;
    position: absolute;
    text-transform: uppercase;
    top: .5rem;   
}

/* Section 2 Testamonials */

.stories
{
	padding: 10rem 0;
	position: relative;
}
.video-container
{
	height: 100%;
	left: 0;
	opacity: .4;
	position: absolute;
	top: 0;
	width: 100%;
}
.bg-video
{
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.stories-wrapper
{
	align-items: center;
	display: flex;
	flex-direction: column;
}
.story-bg
{
	background-color: rgba(238,238,238,.85);
	box-shadow: 0 2rem 5rem rgba(51,51,51,.4);
	margin: 5rem;
	padding: 5rem;
	transform: skewX(20deg);
	width: 70%;
}
.story
{
	display: flex;
	transform: skewX(-20deg);
}
.story-img
{
	border-radius: 50%;
	height: 20rem;
	margin-right: 5rem;
	object-fit: cover;
	width: 20rem;
}
.story-text
{
	letter-spacing: .1rem;
}
.story-heading
{
	color: var(--gray-color);
	font-size: 2.5rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}
.story-paragraph
{
	color: var(--light-gray-color);
	font-size: 1.8rem;
}
.story-paragraph::first-letter
{
	margin-left: 1rem;
}
.contact
{
	animation: contact-bg 35s infinite;
	background: url(img/contact-us-bg.png) center no-repeat;
	background-size: cover;
	padding: 15rem 0 20rem 0;
	text-align: center;
}
.contact-heading
{
	color: var(--white-color);
	font-size: 7rem;
	font-weight: 700;
	letter-spacing: .5rem;
	margin-bottom: 8rem;
	text-shadow: 0 1rem 2rem #000;
	text-transform: uppercase;
}
.contact-form
{
	background-color: rgba(255,255,255,.95);
	border-radius: .5rem;
	box-shadow: 0 1rem 3rem #000;
	flex-direction: column;
	height: 50rem;
	margin: auto;
	padding: 5rem;
	width: 70rem;
}
.input-group
{
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	position: relative;
	width: 100%;
}
.input-groups
{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.input-groups .input-group
{
	width: 48.5%;
}
.input-group input,
.input-group textarea
{
	background-color: var(--secondary-color);
	border: .1rem solid var(--secondary-color);
	border-radius: .5rem;
	color: var(--light-gray-color);
	font-size: 1.4rem;
	letter-spacing: .1rem;
	padding: 3rem 1rem 1rem 1rem;
	transition: border 1s;
}
.input-group input:focus,
.input-group textarea:focus
{
	border: .1rem solid #ccc;
}
.input-group label
{
	color: var(--gray-color);
	font-size: 1.2rem;
	font-weight: 600;
	left: 1rem;
	letter-spacing: .1rem;
	position: absolute;
	text-transform: uppercase;
	top: 1rem;
}
.form-btn
{
	background-color: var(--light-gray-color);
	border: none;
	border-radius: .5rem;
	color: var(--white-color);
	cursor: pointer;
	font-size: 1.6rem;
	letter-spacing: .1rem;
	margin-top: 1rem;
	padding: 1rem;
	transition: background-color .4s;
	width: 100%;
}
.form-btn:hover
{
	background-color: var(--gray-color);
}
.input-group textarea
{
	max-height: 15rem;
	max-width: 100%;
}
@keyframes contact-bg
{
	0%
	{
		background-color: #3d3d3d;
	}
	25%
	{
		background-color: #ced8e4;
	}
	50%
	{
		background-color: #1e81f3;
	}
	75%
	{
		background-color: #ff7842;
	}
	100%
	{
		background-color: #3d3d3d;
	}
}

/* Footer */

.footer
{
	background-color: var(--gray-color);
	padding: 4rem 0 2rem 0;
}

.footer-list
{
	display: flex;
	justify-content: center;
}

.footer-link
{
	background-color: var(--gray-color);
	color: var(--white-color);
	font-size: 2rem;
	letter-spacing: .3rem;
	margin: 0 2rem;
	padding: .3rem 3rem;
	transition: all .2s;
}

.footer-link:hover
{
	box-shadow: 0 2rem 3rem #000;
	transform: rotate(-10deg);
}

.footer-paragraph
{
	color: var(--secondary-color);
	font-size: 1.5rem;
	letter-spacing: .2rem;
	margin-top: 5rem;
	text-align: center;
}